.navbar {
  position: fixed; /* or 'relative' if you want it to scroll with page */
  top: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
    background-color: rgba(42, 40, 40, 0.75);
    z-index: 1000;
}

.logo {
   display: flex;
  height: 60px;
  width: auto;
  left: 20px;
}



.button{
  display: flex;
 

}
